.top-toolbar {
  margin-bottom: 25px;
  padding-top: 25px;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;

  & .button {
    &-back {
      height: 39px !important;
      color: rgba($color: #000000, $alpha: 0.6);
      @media only screen and (max-width: 430px) {
        padding: 0 7px;
      }
      & .icon {
        transform: scale(0.8);
      }
    }
    &-add {
      height: 39px !important;
      @media only screen and (max-width: 430px) {
        padding: 0 7px;
      }
    }
  }
}
